* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "JetBrains Mono", monospace;
  background-color: royalblue;
}
.header {
  display: flex;
  justify-content: space-between;
}
.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  padding: 5px;
}
.calendar {
  font-size: 0.7rem;
}
.centerbox {
  display: flex;
  justify-content: space-around;
  height: 90vh;
  align-items: center;
  border: 5px solid lightblue;
  margin-top: 5px;
}

.img p {
  text-align: center;
  font-size: large;
  background-color: grey;
}
.random {
  height: 80vh;
  width: 40vh;
  border: 3px solid rgb(120, 195, 219);
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  background: rgb(41, 40, 40);
  overflow: hidden;
  position: relative;
}
.random::selection {
  color: rgb(18, 179, 18);
  background-color: grey;
}
.random::after {
  content: "";
  position: absolute;
  top: 100%;
  width: 100%;
  height: 2px;
  background: lightskyblue;
  box-shadow: 0 0 5px lightskyblue;
  animation: glitch-line 5s infinite linear;
}
@keyframes glitch-line {
  0% {
    transform: translateY(0) scaleY(1);
  }
  25% {
    top: 50%;
    transform: scaleY(1.5);
  }
  50% {
    top: 0%;
    transform: scaleY(0.5);
  }
  75% {
    top: 50%;
    transform: scaleY(1.2);
  }
  100% {
    top: 100%;
    transform: scaleY(1);
  }
}

.info {
  border: 2px solid royalblue;
  padding: 3px;
  color: aqua;
}
.sysinfo {
  height: 80vh;
  width: 30vh;
}
.random :nth-child(n + 4)::after {
  content: "/";
  animation: fan 2s infinite linear;
}

@keyframes fan {
  0% {
    content: "/";
  }
  25% {
    content: "-";
  }
  50% {
    content: "\\";
  }
  75% {
    content: "|";
  }
}
.leaflet-container {
  height: 80vh;
}
.img h1 {
  text-align: center;
  background: grey;
}
